#@formatter:off
DJANGO_DEBUG=False
DJANGO_DEBUG_PROPAGATE_EXCEPTIONS=False

DJANGO_CSRF_USE_SESSIONS=True
DJANGO_SECRET_KEY=

DJANGO_DATABASE_URL=sqlite://

DJANGO_CACHE=locmemcache://

DJANGO_ALLOWED_HOSTS=localhost, 127.0.0.1, 0.0.0.0
DJANGO_DISALLOWED_USER_AGENTS=
DJANGO_INTERNAL_IPS=
DJANGO_DEFAULT_HTTP_PROTOCOL=http

DJANGO_ADMIN_URL=admin/

DJANGO_ADMINS=Some User:some.user@gmail.com
DJANGO_DEFAULT_FROM_EMAIL=webmaster@localhost
DJANGO_SERVER_EMAIL=root@localhost
DJANGO_EMAIL_URL=smtp://user:password@localhost:25
DJANGO_EMAIL_USE_LOCALTIME=True
DJANGO_EMAIL_SUBJECT_PREFIX=Django
DJANGO_EMAIL_SSL_CERTFILE=
DJANGO_EMAIL_SSL_KEYFILE=

DJANGO_DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage
DJANGO_STATIC_ROOT=project/staticfiles
DJANGO_MEDIA_ROOT=project/media

CORS_ORIGIN_WHITELIST=localhost:3000

ALLAUTH_USERNAME_BLACKLIST=
ALLAUTH_CONFIRMATION_EXPIRE_DAYS=3
ALLAUTH_LOGIN_ATTEMPTS_LIMIT=5
ALLAUTH_LOGIN_ATTEMPTS_TIMEOUT=300

JWT_SECRET_KEY=CHANGE_ME!!!pi9)v8cqi#=!-#5f%dz*7qv!+_9l)(0dj=r^5w$en+a^j$uqt5
JWT_EXPIRATION_DELTA=300
JWT_REFRESH_EXPIRATION_DELTA=604800

DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_DEBUG_SQL=off
DJANGO_DEBUG_SQL_COLOR=off

DJANGO_USE_SILK=off
DJANGO_SENTRY_DSN=

CELERY_ALWAYS_EAGER=off
CELERY_BROKER_URL=amqp://
CELERY_RESULT_BACKEND=django-db
CELERY_IGNORE_RESULT=True
